.BEARBRICK_Collectibles{

    background-color: #E7E6E7;
    
    color: #000000;
}
.BEARBRICK_Collectibles_Cards{
    background-color: #E7E6E7;
    color: black;
}
.BEARBRICK_Collectibles_Cards p{
    color: black;
}
.outer_card_box{
    /* background-color: #E7E6E7; */
}
.card_box_text p{
    /* color: rgb(0, 0, 0); */
    
}